
ETCD_NAME="{{ inventory_hostname }}"
ETCD_LISTEN_CLIENT_URLS="http://{{ ansible_ssh_host }}:2379,http://127.0.0.1:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_ssh_host }}:2379"
ETCD_LISTEN_PEER_URLS="http://{{ ansible_ssh_host }}:2380"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_ssh_host }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="etcdCluster"
ETCD_INITIAL_CLUSTER="{{ hostvars['node1'].inventory_hostname }}=http://{{ hostvars['node1'].ansible_ssh_host }}:2380,{{ hostvars['node2'].inventory_hostname }}=http://{{ hostvars['node2'].ansible_ssh_host }}:2380,{{ hostvars['node3'].inventory_hostname }}=http://{{ hostvars['node3'].ansible_ssh_host }}:2380"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_DATA_DIR="/var/lib/etcd"
ETCD_ELECTION_TIMEOUT="5000"
ETCD_HEARTBEAT_INTERVAL="1000"