VIP_IP="{{ VIP_IP }}"
VIP_MASK="{{ mask_cidr }}"
VIP_IFACE="eth1"
VIP_KEY="/service/pgcluster-tst/leader"
VIP_HOST="{{ inventory_hostname }}"
VIP_TYPE="etcd"
VIP_ENDPOINT="http://{{ ansible_ssh_host }}:2379"