# TYPE  DATABASE        USER            ADDRESS                                 METHOD
 
# "local" is for Unix domain socket connections only
local   postgres        postgres                                                trust
local   all             all                                                     peer
# IPv4 local connections:
host    all             all             127.0.0.1/32                            md5
host    all             all             {{ mask_cidr }}            md5
host    all             all             {{ ansible_default_ipv4.address }}/{{ansible_default_ipv4.netmask | ipaddr('prefix') }}             md5
host    all             all             {{ ansible_default_ipv4.address }}/{{ansible_default_ipv4.netmask | ipaddr('prefix') }}             md5
# IPv6 local connections:
# host    all             all             ::1/128                 md5
# Allow replication connections from localhost, by a user with the
# replication privilege.
host    replication     replicator      {{ ansible_default_ipv4.address }}/{{ansible_default_ipv4.netmask | ipaddr('prefix') }}             md5
host    replication     replicator      {{ ansible_default_ipv4.address }}/{{ansible_default_ipv4.netmask | ipaddr('prefix') }}             md5
host    replication     replicator      {{ ansible_default_ipv4.address }}/{{ansible_default_ipv4.netmask | ipaddr('prefix') }}             md5